.sec2::-webkit-scrollbar {
    width: 8px; /* Adjust width of the scrollbar */
}

/* Style for the scrollbar thumb */
.sec2::-webkit-scrollbar-thumb {
    background-color: rgb(107, 106, 106); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Roundness of the scrollbar thumb */
}

/* Style for the scrollbar thumb when hovered */
.sec2::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color when hovered */
}

/* Style for the scrollbar track */
.sec2::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Light gray color for visibility */
    border-radius: 4px; /* Optional: roundness for the track */
}

.right::-webkit-scrollbar {
    width: 8px; /* Adjust width of the scrollbar */
}

/* Style for the scrollbar thumb */
.right::-webkit-scrollbar-thumb {
    background-color: rgb(107, 106, 106); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Roundness of the scrollbar thumb */
}

/* Style for the scrollbar thumb when hovered */
.right::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color when hovered */
}

/* Style for the scrollbar track */
.right::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Light gray color for visibility */
    border-radius: 4px; /* Optional: roundness for the track */
}


.flex{
    display: flex;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.justify-center{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bold{
    font-weight: 700;
}
.round{
    border-radius: 10px;
}
.pad{
    padding: 10px;
}
.bradius{
    border-radius: 20px;
}