.songlist ul li{
    /* list-style: decimal; */
    display: flex;
    padding: 5px;
    gap: 10px;
    justify-content: space-between;
}
.sname{
    margin: 5px;
    width: 6vw;
    font-size: 13px;
}
.card1:hover .play{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card2:hover .play2{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card3:hover .play3{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card4:hover .play4{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card5:hover .play5{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card6:hover .play6{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card7:hover .play7{
    opacity: 1;
    bottom: 30vw;
    transition: all 2s ease-in-out;
}
.card1:hover{
    background-color: rgb(40, 40, 40);
}
.card2:hover{
    background-color: rgb(40, 40, 40);
}
.card3:hover{
    background-color: rgb(40, 40, 40);
}
.card4:hover{
    background-color: rgb(40, 40, 40);
}
.card5:hover{
    background-color: rgb(40, 40, 40);
}
.card6:hover{
    background-color: rgb(40, 40, 40);
}
.card7:hover{
    background-color: rgb(40, 40, 40);
}
.cardc{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.playbar{
    position: fixed;
    bottom: 0px;
    width: calc(100vw - 28vw);
    justify-content: center;
    background-color: rgb(40, 40, 39);
    height: 9vh;
    padding: 10px;
    border-radius: 9px;
    bottom: 12px;
    right: 10px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}
.songinfo{
    color: white;
}
.songTime{
    color: white;
}
.pbtns{
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.seekbar{
    height: 3px;
    width: inherit;
    background-color: azure;
    bottom: 2px;
    margin-top: 13px;
    cursor: pointer; 
}
.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    bottom: calc(100vh - 96.5vh);
    transition: left 0.5s;
    cursor: pointer;
}
/* @media screen and (max-width: 1015px) {
    .playbar{
        width: 90vw;
        right: 23px;
    }
} */
/* @media screen and (max-width: 1030px) {
    
    .circle{
        bottom: 63px;
    }
} */
@media screen and (max-width: 1015px) {
    .playbar{
        width: calc(100vw - 4vw);
    }    
}
/* @media screen and (max-width: 1027px) {
    
    .circle{
        bottom: 23px;
    }
}
@media screen and (max-width: 1290px) {
    
    .circle{
        bottom: 20px;
    }
}
@media screen and (max-width: 920px) {
    
    .circle{
        bottom: 6vh;
    }
}
@media screen and (max-width: 755px) {
    .circle{
        bottom: 5.2vh;
    }
}
@media screen and (max-width: 780px) {
    .circle{
        bottom: 5.8vh;
    }
}
@media screen and (max-width: 545px) {
    .circle{
        bottom: 5.2vh;
    }
} */
/* @media screen and (max-width: 380px) {
    .playbar{
        width: 90vw;
        right: 19px;
    }
    .right{
        height: fit-content;
    }
    .circle{
        bottom: 4vh;
    }
}
@media screen and (max-width: 350px) {
    .circle{
        bottom: 5.5vh;
    }
} */